:root {
  --main-color-blue: #2196f3;
  --main-color-gray: #757575;
  --main-color-black: #212121;
  --main-color-white: #ffffff;
  --main-color-background-gray: #2f303a;
  --main-color-button-untouched: #f5f4fa;
  --main-font-roboto: "Roboto", sans-serif;
  --sec-font-raleway: "Raleway", sans-serif;
}

body {
  font-family: var(--main-font-roboto);
  color: var(--main-color-black);
  margin: 0;
}

header {
  border-bottom: 1px solid #ececec;
}

footer {
  background-color: var(--main-color-background-gray);
  color: var(--main-color-white);
}

.container {
  width: 1200px;
}

.padding-set {
  padding: 94px 0 94px 0;
}
.no-list {
  list-style: none;
}

/* ^^ GLOBAL STYLES ^^ */

/* Logo Settings */
.logo {
  font-family: var(--sec-font-raleway);
  font-weight: 700;
  font-size: 26px;
  line-height: 30.52px;
  letter-spacing: 0.03em;
  text-decoration: none;
  padding-top: 24px;
}

.color-blue {
  color: var(--main-color-blue);
}
.color-white {
  color: var(--main-color-white);
}

.logo-set {
  padding-left: ;
}
/* Logo Settings */

/* -- Button Settings -- */

.button {
  color: var(--main-color-black);
  background-color: var(--main-color-button-untouched);
  border: 0;
  text-align: center;
  border-radius: 4%;
  font-weight: 500;
  size: 16px;
  line-height: 26px;
  letter-spacing: 0.03em;
  cursor: pointer;
}
 .order {
  width: 200px;
  height: 50px;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.096em;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
 }
.button:hover,
.button:focus {
  background-color: var(--main-color-blue);
  color: var(--main-color-white);
}
/* -- Button Settings -- */

.menu-set {
  padding: 24px 0 25px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 93px;
}

.menu-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
  gap: 46px;
}

.menu-nav a {
  font-weight: 500;
  font-size: 14px;
  line-height: 16.41px;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.menu-nav a:hover,
.menu-nav a:focus {
  color: var(--main-color-blue);
}

.menu-contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: calc(371px - 93px);
  gap: 50px;
}

.menu-contact a {
  color: var(--main-color-gray);
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 16.41px;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.menu-contact a:hover,
.menu-contact a:focus {
  color: var(--main-color-blue);
}
.section-order {
  display: flex;
  flex-direction: column;
  margin: 0;
  align-items: center;
  gap: 30px;
  padding: 200px 0 200px 0;
  background-color: var(--main-color-background-gray);
}

.section-order h1 {
  color: var(--main-color-white);
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 0.06em;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
}

.order-banner {
}
.advantages {
}
.advantages-text {
  color: var(--main-color-gray);
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: justify;
}

.advantages h2 {
  color: var(--main-color-black);
  font-weight: 700;
  size: 14px;
  line-height: 16.41px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.section-team {
  background-color: #F5F4FA;
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42.19px;
  letter-spacing: 0.03em;
  text-align: center;
}

.description {
  font-weight: 500;
  font-size: 16px;
  line-height: 18.75px;
  letter-spacing: 0.03em;
  text-align: center;
}

.team-description p {
  color: var(--main-color-gray);
  font-weight: 400;
}

.footer-set {
  padding: 60px 0 60px 0;
}
.footer-contact {
  color: #ffffff99;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.footer-contact:hover,
.footer-contact:focus {
  color: var(--main-color-blue);
}
.portfolio-images {
  border: 1px solid #eeeeee;
}
